@import url("./css/variables.css");
@import url("./css/reset-normilize.css");

* {
  box-sizing: border-box;
}

body {
  background: var(--primary-color);
  color: var(--invert-primary-color);
  font-size: 14px;
  line-height: 1;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  overflow: hidden;
}

.app-container {
  display: flex;
}
